In [ ]:
#Task 1

print ("hello world")

hello world

In [ ]:
#Task 2

print (54+56)

110

In [ ]:
#Task 3

season = "Summer"
year = "2023"
print (season)
print (year)

Summer
2023

In [ ]:
#Task 4
users_name = input("Enter Your Name: ")
print("Your name is", users_name)

Enter Your Name: John
Your name is John

In [ ]:
#Task 5

M= int(input())
N= int(input())
print(f'{M}^{N}:{M**N}')

2
3
2^3:8

In [ ]:

#Task 6

Total_weight = int(input())
print (Total_weight)
amount=(Total_weight%4)
print(Total_weight-amount)

9
9
8

In [ ]:
#Task 7

A = int(input())
B = int(input())
C = int(input())
D = float(input())

num1=(A**C)
num2=(B*A)
num3=(D/3)
print(int(num1 + num2 - num3))

2
6
8
1.3
267

In [ ]:
#Task 8

total_number_of_chocolates = int(input("Number of Chocolates : "))

quantity = (total_number_of_chocolates//3)
print("Each friend will receive",quantity ,"chocolates")

remaining =(total_number_of_chocolates%3)
print ("The number of remaining chocolates is",remaining)

Number of Chocolates : 50
Each friend will receive 16 chocolates
The number of remaining chocolates is 2

In [ ]:
# Task 9

M = input()
N = input()
print(N + M)

Hello
World
WorldHello

In [ ]:
# Task 10

number_1 = int(input())
number_2 = float(input())
number_3 = int(input())
print("The inputs :" ,str(number_1) + "," + str(number_2) + "," + str(number_3))

number_4 = number_1 + number_2


print("The result is",str(number_4) + str(number_3))

3
11.57
7
The inputs : 3,11.57,7
The result is 14.577

In [ ]:
#Task 11

number = int(input())
if number%2 == 0:
  print("True")
else:
  print("False")

2
True