**Task 1(a)**

In [ ]:
counter = 24
while counter >= -6:
  if counter == -6:
    print(counter,end = "")
  else:
    print(counter,end=",")
  counter = counter -6

24,18,12,6,0,-6

In [ ]:
for i in range(24,-7,-6):
    if i == -6:
      print(i,end="")
    else:
      print(i,end=",")
    #print(i,end=",")

24,18,12,6,0,-6

**Task 1(b)**

In [ ]:
counter = -10
while counter <= 20:
  if counter == 20:
    print(counter,end="")
  else:
    print(counter,end=",")
  counter = counter + 5

-10,-5,0,5,10,15,20

In [ ]:
for i in range(-10,25,5):
  if i == 20:
    print(i,end="")
  else:
    print(i,end=",")

-10,-5,0,5,10,15,20

**Task 1(c)**

In [ ]:
counter = 18
while counter <=63:
  if counter == 63:
    print(counter,end="")
  else:
    print(counter,end=",")
  counter = counter + 9

18,27,36,45,54,63

In [ ]:
for i in range(18,71,9):
  if i == 63:
    print(i,end="")
  else:
    print(i,end=",")

18,27,36,45,54,63

**Task 1(d)**

In [ ]:
i = 18
while(i<=63):
  if i %2==0:
    print(i,end=",")
  else:
    if i == 63:
        print(i*(-1),end = "")
    else:
        print(i*(-1),end = ",")
  i = i+9

18,-27,36,-45,54,-63

In [ ]:
count = 18
while(count<=63):
  if count %2==0:
    print(count,end=",")
  else:
    if count == 63:
        print(count*(-1),end = "")
    else:
        print(count*(-1),end = ",")
  count = count+9

18,-27,36,-45,54,-63

In [ ]:
for i in range(18,71,9):
  if i %2==0:
    print(i,end=",")
  else:
    if i == 63:
        print(i*(-1),end = "")
    else:
        print(i*(-1),end = ",")

18,-27,36,-45,54,-63

**Task 2**

In [ ]:
favorite_car = input()
number = int(input())
count = 0
while count<number:#(0,1)
  print(favorite_car)
  count+=1

tyry
8
tyry
tyry
tyry
tyry
tyry
tyry
tyry
tyry

**Task 3**

In [ ]:
count=0
sum = 0
while count<601:
  if count%7==0 and count%9==0:
    sum = sum + count
  count+=1
print(sum)

2835

In [ ]:
sum=0
for i in range(63,601,63):
  sum+=i
print(sum)

2835

In [ ]:
count = 1
sum = 0
while count<=600:
  if count%7==0 and count%9==0:
    sum = sum + count
    count = count +1
  else:
    count = count +1
print(sum)

2835

**Task 4**

In [ ]:
count = 0
sum = 0
while count<=600:
  if count%7==0 and count%9!=0:
    sum+= count
    count+=1
  elif count%9==0 and count%7!=0:
    sum+=count
    count+=1
  else:
    count+=1
print(sum)

39814

**Task 5**

In [ ]:
count = 10
while count<=50:
  if count%2!=0:
    print(count,end=" ")
  count+=1

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
for i in range(11,50,2):
  print(i,end=" ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

**Task 6**

In [ ]:
n = int(input())
y = 1
sum=0
while y<=n:
  if y%2!=0:    #odd
    sum += (y**2)
  else:    #even
    sum -= (y**2)
  y+=1
print(sum)

20
-210

In [ ]:
n = int(input())
sum = 0
for i in range(1,n+1,1):
  if i % 2 == 0:
    sum -= i**2
  else:
    sum += i**2
print(sum)

20
-210

In [ ]:
n = int(input("Enter a number: "))
i = 1
sum = 0
while i <= n:
    if i%2 == 1:
      sum += i**2
    else:
      sum-=i**2
    i += 1
print(sum)

Enter a number: 20
-210

In [ ]:
n = int(input("Enter the value of n: "))
sum = 0
i = 1
while i <= n:
    if i % 2 == 0:
        sum -= i**2
    else:
        sum += i**2
    i += 1
print("The value of y is:", sum)

Enter the value of n: 10
The value of y is: -55

**Using For Loop**

In [ ]:
n = int(input())
y = 0
for i in range(1,n+1,1):
  if i %2 !=0:
    y += i**2
  else:
    y -=i**2
print(y)

10
-55

**TASK 7**

In [ ]:

count = 1
sum=0
average=0
t_odd=0
while count <=10:
  num = int(input())
  if count%2!=0:
    sum +=count
    t_odd+=1
  else:
    pass
  count+=1
print(sum)
print(sum/t_odd)

1
2
3
4
5
6
7
8
9
10
25
5.0

In [ ]:
sum=0
average=0
t_odd=0
for i in range(10):
  number=int(input())
  if number%2!=0:
    sum +=number
    t_odd+=1
  else:
    pass

print(sum)
print(sum/t_odd)

-20
13
-5
40
-17
10
20
-8
99
-200
90
22.5

In [ ]:
count = 0
sum = 0
t_odd=0

while count < 10:
  num = int(input())
  if num%2!=0:
    sum+=num
    t_odd+=1
  else:
    pass
  count+=1

print("The total of the odd numbers is",sum,"and their average is",sum/t_odd)

1
2
3
4
5
6
7
8
9
10
The total of the odd numbers is 25 and their average is 5.0

In [ ]:
total = 0
count = 0
i = 0
while i < 10:
    num = int(input("Enter a number: "))
    if num % 2 == 1:
        total += num
        count += 1
    i += 1

if count > 0:
    average = total / count
    print(f"The total of the odd numbers is {total} and the average is {average}.")
else:
    print("No odd numbers were entered.")

Enter a number: -20
Enter a number: 13
Enter a number: -5
Enter a number: 40
Enter a number: -17
Enter a number: 10
Enter a number: 20
Enter a number: -8
Enter a number: 99
Enter a number: -200
The total of the odd numbers is 90 and the average is 22.5.

In [ ]:
i = 0
sum = 0
#odd = 0
#average = 0
for i in range(10):
   j =int(input("enter number:"))
   print(j)
   if not j%2==0 :
      sum += j
      #odd+=1
      i = i + 1
print(sum)
average=sum/i
print(average)

enter number:1
1
enter number:2
2
enter number:3
3
enter number:4
4
enter number:5
5
enter number:6
6
enter number:7
7
enter number:8
8
enter number:9
9
enter number:10
10
25
2.7777777777777777

**Task 8**

In [ ]:
N = int(input())
count = 1
sum = 0
while count<=N:
  if count%7==0:
    sum+=count
  else:
    pass
  count+=1
print(sum)

75
385

**Task 9**

In [ ]:
count = 1
sum = 0

while count <= 5:
  num = int(input())
  sum +=num
  if count == 5:
    print("The sum of the", count , "numbers is",sum)
  else:
    print("The sum of the first", count , "numbers is",sum)
  count+=1

1
The sum of the first 1 numbers is 1
2
The sum of the first 2 numbers is 3
3
The sum of the first 3 numbers is 6
4
The sum of the first 4 numbers is 10
5
The sum of the 5 numbers is 15

In [ ]:
count = 1
sum = 0

while count <= 5:
  num = int(input())
  sum +=num

  print("The sum of the first", count , "numbers is",sum)
  count+=1

1
The sum of the first 1 numbers is 1
2
The sum of the first 2 numbers is 3
3
The sum of the first 3 numbers is 6
4
The sum of the first 4 numbers is 10
5
The sum of the first 5 numbers is 15

**Task 10**

In [ ]:
### Write dis one ###
number = int(input())
count = 0
while number > 10:
    digit = number % 10
    number = number // 10
    count+=1
    print(digit, end=",")
digit = number % 10
print(digit)
#print(count)

11
1,1

In [ ]:

number = int(input())
while number > 0:
    digit = number % 10
    number = number // 10
    print(digit, end=",")
digit = number % 10
print(digit)

32768
8,6,7,2,3,0

In [ ]:
num = int(input("Input number: "))
print('Output:')
while (num > 10):
    digit = num % 10
    num = num // 10
    print(digit, end=',')
digit = num % 10
print(digit)

Input number: 43454534
Output:
4,3,5,4,5,4,3,4

In [ ]:
num = int(input())

while (num >0):
    digit = num % 10
    num = num // 10
    print(digit, end=',')
digit = num % 10
print(digit)

9
9,0

In [ ]:
num = int(input("Input number: "))

while num > 10:
    digit = num % 10
    print(digit, end=',')
    num = num // 10
digit = num % 10
print(digit)

Input number: 23489237438567365713845
5,4,8,3,1,7,5,6,3,7,6,5,8,3,4,7,3,2,9,8,4,3,2

In [ ]:
num = int(input("Enter a number: "))
while num > 0:
    digit = num % 10
    print(digit,end=",")
    num = num // 10

Enter a number: 32678
8,7,6,2,3,

**Task 11**

In [ ]:
n=int(input("Enter number:"))
count=0
while(n>0):
    count=count+1
    n=n//10
print("The number of digits in the number are:",count)

Enter number:123456789
The number of digits in the number are: 9

In [ ]:
### Write dis one ##
num = int(input())
count= 0
while num >0:
  #digit = num % 10
  num = num // 10
  count+=1
print(count,"digits.")

12345
5 digits.

**Task 12**

In [ ]:
num = int(input())
while num > 0:
    num1 = num
    dig = 0
    while num1 > 0:
        num1 = num1 // 10
        dig = dig + 1
    x = num // 10 ** (dig - 1)
    if dig == 1:
        print(x, end="")
    else:
        print(x, end=", ")
    num = num % 10 ** (dig - 1)

32768
3, 2, 7, 6, 8

In [ ]:
num = int(input("Enter a number: "))
while num > 0:
    digit = num % 10
    print(digit, end=", ")
    num //= 10

Enter a number: 32768
8, 6, 7, 2, 3,

In [ ]:
num = int(input())
dig = 0
while num > 0:
  num = num // 10
  dig = dig + 1
  x = num // 10 ** (dig - 1)
  if dig == 1:
    print(x, end="")
  else:
    print(x, end=", ")
  #num = num % 10 ** (dig - 1)

32768
327632, 0, 0, 0,

In [ ]:
#task-12
number = int(input("Enter The Number: "))
num = 0
temp = number
while temp > 0:
  temp //= 10
  num += 1
divided = 10** (num-1)
temp = number
while divided > 0:
  digit = temp // divided
  print(digit, end=", ")
  temp %= divided
  divided //= 10

Enter The Number: 32768
3, 2, 7, 6, 8,

In [ ]:
num = 32768
print(num//(10**(5-1)))

3

**Task 13**

In [ ]:
number = int(input())
divisors = 1
count = 0

while divisors <= number:
  if number % divisors ==0:
    print(divisors)
    count+=1
  divisors+=1
print("Total",count,"divisors.")

6
1
2
3
6
Total 4 divisors.

**Task 14**

In [ ]:
number = int(input())
divisors = 1
sum = 0
formula = number%divisors
while divisors <=number:
  if formula==0:
    divisors+=1
print(divisors)
  #sum+=divisors
  #if sum==number:
    #print(number,"is a perfect number")

6
7

In [ ]:
number = int(input())
divisors = 1

sum = 0
while divisors < number:
  if number % divisors ==0:
    sum +=divisors
  divisors+=1
if sum == number:
  print(number,"is a perfect number.")
else:
  print(number,"is not a perfect number.")

7
7 is not a perfect number.

**TASK 15**

In [ ]:
num = int(input())
divisors = 2
while divisors*divisors <= num:
    if num % divisors == 0:
        print(num, "is not a prime number")
        break
    divisors += 1
else:
  print(num, "is a prime number")

2
2 is a prime number

In [ ]:
num = int(input())

if num == 1:
    print("1 is not a prime number")
else:
    divisors = 2
    while divisors*divisors <= num:
        if num % divisors == 0:
            print(num, "is not a prime number")
            break
        divisors += 1
    else:
        print(num, "is a prime number")

4
4 is not a prime number

**TASK 16**

In [ ]:
quantity = int(input("Enter the quantity of numbers: "))

total = 0
count = 0
maximum = None
minimum = None

while count < quantity:
    number = int(input("Enter a number: "))
    total += number
    count += 1

    if maximum is None or number > maximum:
        maximum = number

    if minimum is None or number < minimum:
        minimum = number

average = total / quantity
print(total,quantity)
print("Maximum:", maximum)
print("Minimum:", minimum)
print("Average:", average)

In [ ]:
quantity = int(input("Enter the quantity of numbers: "))

total = 0
count = 0
maximum = None
minimum = None

while count < quantity:
    number = int(input("Enter a number: "))
    total += number
    count += 1

    if maximum is None or number > maximum:
        maximum = number

    if minimum is None or number < minimum:
        minimum = number

average = total / quantity
print(total,quantity)
print("Maximum:", maximum)
print("Minimum:", minimum)
print("Average:", round(average, 1))

Enter the quantity of numbers: 5
Enter a number: -1
Enter a number: -2
Enter a number: -3
Enter a number: -4
Enter a number: -5
-15 5
Maximum: -1
Minimum: -5
Average: -3.0

In [ ]:
quantity = int(input("Enter the quantity of numbers: "))

total = 0
count = 0
maximum = 0
minimum = -1

while count < quantity:
    number = int(input("Enter a number: "))
    total += number
    count += 1

    if number > maximum:
        maximum = number

    if minimum == -1 or number < minimum:
        minimum = number

average = total / quantity

print("Maximum:", maximum)
print("Minimum:", minimum)
print("Average:", round(average, 1))

Enter the quantity of numbers: 5
Enter a number: 10
Enter a number: 4
Enter a number: -1
Enter a number: -100
Enter a number: 1
Maximum: 10
Minimum: -100
Average: -17.2

In [ ]:
quantity = int(input())
total = 0
count = 0
max = 0
min = -1

while count < quantity:
    number = int(input())
    total += number
    count += 1
    if number > max:
        max = number
    if count == 1 or number < min:
        min = number
average = total //quantity
print(total,quantity)
print("Maximum", max)
print("Minimum", min)
print("Average is", average)

5
-1
-2
-3
-4
-5
-15 5
Maximum 0
Minimum -5
Average is -3

In [ ]:
n = int(input())

for i in range(n):
    for j in range(n-3):
        print("+", end="")
    print()

3

In [ ]:
N = int(input())

i = 0
while i < N:
    j = 0
    while j < N:
        if i == 0 or i == N - 1 or j == 0 or j == N - 1:
            print("+", end="")
        else:
            print(" ", end="")
        j += 1
    print()
    i += 1

5
+++++
+   +
+   +
+   +
+++++

In [ ]:
n = int(input())

i = 0
while i < n:
    j = 0
    while j < n:
       print("+", end="")
       j += 1
    print()
    i+=1

3
+++
+++
+++

In [ ]:
n = int(input())

i = 0
while i < n:
    j = 0
    while j < n:
       print("+", end="")
       j += 1
    print()
    i+=1

5
+++++
+++++
+++++
+++++
+++++

In [ ]:
N = int(input())
for i in range(N):
    print(' '*(N-i- 1) + "+"*(2*i+1))

5
    +
   +++
  +++++
 +++++++
+++++++++

In [ ]:
N = int(input())

for i in range(N):
    for j in range(N-i-1):
        print(' ', end='')
    for j in range(2*i+1):
        if j == 0 or j == 2*i or i == N-1:
            print('+', end='')
        else:
            print(' ', end='')
    print()

5
    +
   + +
  +   +
 +     +
+++++++++

In [ ]:
n = 4
for i in range(n):
    for j in range(n-i-1):
        print(' ', end='')
    for j in range(2*i+1):
        if j == 0 or j == 2*i:
            print('+', end='')
        else:
            print(' ', end='')
    print()
for i in range(n-1):
    for j in range(i+1):
        print(' ', end='')
    for j in range(2*(n-i-1)-1):
      if j == 0 or j == 2*(n-i-1)-2:
        print('+', end='')
      else:
        print(' ', end='')
    print()

   +
  + +
 +   +
+     +
 +   +
  + +
   +

In [ ]:
for row in range(0,7):
  for col in range(0,7):
    if(row+col==3)or(col-row==3)or(row+col==9)or(row-col==3):
      print("*",end="")
    else:
      print(" ",end="")
  print()

   *
  * *
 *   *
*     *
 *   *
  * *
   *

In [ ]:
n = 4

for i in range(n,-1,-1):
    for j in range(n-i):
        print(' ', end='')
    for j in range(2*i+1):
      print('+', end='')
    else:
      print(' ', end='')
    print()

+++++++++
 +++++++
  +++++
   +++
    +

In [ ]:
for i in range(n,-1,-1):
    for j in range(n-i):
        print(' ', end='')
    for j in range(2*i+1):
      print('+', end='')
    else:
      print(' ', end='')
    print()
for i in range(n,-1,-1):
    for j in range(n-i):
        print(' ', end='')
    for j in range(2*i+1):
      print('+', end='')
    else:
      print(' ', end='')
    print()

+++++++
 +++++
  +++
   +
+++++++
 +++++
  +++
   +

In [ ]:
M = int(input())
N = int(input())

i = 0
while i < M:
    j = 1
    while j <= N:
        print(j, end="")
        j += 1
    print()
    i += 1

4
5
12345
12345
12345
12345

In [ ]:
M = int(input())
N = int(input())

for row in range(M):
  for column in range(1, N+1):
      print(column, end="")
  print()

5
6
123456
123456
123456
123456
123456

In [ ]:
N = int(input())

i = 1
while i <= N:
    j = 1
    while j <= i:
        print(j, end="")
        j += 1
    print()
    i += 1

6
1
12
123
1234
12345
123456

In [ ]:
N = int(input())

for i in range(1, N+1):
    for j in range(1, i+1):
        print(j, end="")
    print()

5
1
12
123
1234
12345

***ASSIGNMENT 04***

In [ ]:
value = input()
for e in  range(len(value)-1,-1,-1):
  print(value[e], end ='')

abcdefghij110
011jihgfedcba

**ASSIGNMENT 3 UNGRADED**

In [ ]:
n = int(input())
f_n1 = 0
f_n2 = 1
while f_n1<=n:
    print(f_n1, end=' ')
    f_n1 = f_n2
    f_n2 = f_n1 + f_n2

10
0 1 2 4 8

In [ ]:
N = int(input())
a = 0
b = 1
while a <= N:
    print(a, end=' ')
    temp = a
    a = b
    b = temp + b
print()

15
0 1 1 2 3 5 8 13

In [ ]:
num = int(input())
count = 0
binary = ""
while num > 0:
  binary = str(num % 2) + binary
  num = num // 2
if binary == "":
    binary = "0"
print("The binary representation is:", binary)

13
The binary representation is: 1101

In [ ]:
binary = input()

decimal = 0
for i in range(len(binary)):
  decimal += int(binary[-i - 1]) * (2 ** i)

print("The decimal representation is:", decimal)

11101
The decimal representation is: 29

In [ ]:
start = int(input())
end = int(input())
divisor = int(input())

for i in range(start, end + 1):
    product = 1
    temp = i
    while temp > 0:
        product *= temp % 10
        temp //= 10
    if product % divisor == 0:
        print(i)

In [ ]:
List_1= [5, 4, 3]
List_2= [1, 2]
print(List_1+ List_2)

[5, 4, 3, 1, 2]

In [ ]:
s1 = "I lovE CSE"
list1= s1.split(" ")
print(list1)

['I', 'lovE', 'CSE']

In [ ]:
s1 = "10,9,8,7"
list1= s1.split()
#list2= s1.split("E")
#list3= s1.split("vE")
print(list1)
#print(list2)
#print(list3)

['10,9,8,7']

In [ ]:
s1 = "10,9,8,7"
for i in s1:
  list1=s1.split(",")
print(list1)

['10', '9', '8', '7']

In [ ]:
L1 = [1, -1, 2, -2]
L2 = L1
L3 = L1
L4 = L1+ [4]
L2[0] += 2
L3[-1] -= 2
L4[1] = 0
L5= L1[ : : -1]
print ("L1:", L1)
print ("L2:", L2)
print ("L3:", L3)
print ("L4:", L4)
print ("L5:", L5)

L1: [3, -1, 2, -4]
L2: [3, -1, 2, -4]
L3: [3, -1, 2, -4]
L4: [1, 0, 2, -2, 4]
L5: [-4, 2, -1, 3]

In [ ]:
List1 = [1, 2, 3]
List2 = List1
List2[0] += 5

List3 = List1 + [4]

print (List1)
print (List2)
print (List3)

TypeError: ignored

In [ ]:
input_string = input("Enter a list of numbers separated by commas: ")

numbers = [int(x) for x in input_string.split(",")]

print("List of numbers:", numbers)

average = sum(numbers) / len(numbers)

new_list = [x for x in numbers if x > average]

print("New list with numbers greater than the average:", new_list)

Enter a list of numbers separated by commas: 10, 12, 2, 17, 14
List of numbers: [10, 12, 2, 17, 14]
New list with numbers greater than the average: [12, 17, 14]

In [ ]:
# Copy the following two lists directly into your code
List1, List2 = [1, 2, 3, 4], [3, 4, 5]

# Create a new list with the union of the given lists
union = list(set(List1) | set(List2))

# Create a new list with the intersection of the given lists
intersection = list(set(List1) & set(List2))

# Print the union and intersection lists
print("Union:", union)
print("Intersection:", intersection)

Union: [1, 2, 3, 4, 5]
Intersection: [3, 4]