**TASK 1**

In [ ]:
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

**TASK 2**

In [ ]:
given_tuple = (1,2,8,8,88888,3,4)
a = len(given_tuple)
new_list = []
for i in range(2, a-2):
    new_list.append(given_tuple[i])
new_tuple = tuple(new_list)
print(new_tuple)

(8, 8, 88888)

In [ ]:
a = (1,2,8,8,88888,3,4)

c = []
for i in range(2, (len(a)-2)):
    c.append(a[i])
new_tuple = tuple(c)
print(new_tuple)

(8, 8, 88888)

In [ ]:
input_string = (-10, 20, 25, 30, 40)
list1 = []
list1=list(input_string)
temp=""
for i in input_string:
    if char == ",":
        list1.append(int(temp))
        temp = ""
    else:
      new_list = []
      for i in range(2, len(list1)-2):
        new_list.append(list1[i])
tuple1 = tuple(new_list)
print(tuple1)

NameError: ignored

**TASK 3**

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print("Size of the tuple is: ",len(book_info))
for i in book_info:
  print(i)



print("Size of the tuple:", len(book_info))
for i in range(len(book_info)):
  print(book_info[i])

Size of the tuple is:  4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)
Size of the tuple: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

**TASK 4**

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
a,b,c,d= book_info
print(a[1],"won the",a[0],"category with",a[2])
print(b[1],"won the",b[0],"category with",b[2])
print(c[1],"won the",c[0],"category with",c[2])
print(d[1],"won the",d[0],"category with",d[2])

The Silent Patient won the Best Mystery & Thriller category with 68821
The Institute won the Best Horror category with 75717
The five won the Best History & Biography category with 31783
The Testaments won the Best Fiction category with 98291

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for i in range(len(book_info)):
  print(f"{book_info[i][1]} won the '{book_info[i][0]}' category with {book_info[i][2]} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

**Task 5**

In [ ]:
given_tuple = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
#new_tuple = list(given_tuple)

count = 0
number = int(input())
for i in given_tuple:
  if i == number:
    count+=1
print(f"{number} appears {count} times in the tuple")

8
8 appears 4 times in the tuple

In [ ]:
# Given tuple
t = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

# Take input from user
x = int(input("Enter a number: "))

# Initialize count to 0
count = 0

# Iterate through the elements of the tuple
for element in t:
    # If the element is equal to x, increment count
    if element == x:
        count += 1

# Print the result
print(f"{x} appears {count} times in the tuple")

Enter a number: 8
8 appears 4 times in the tuple

**TASK 6**

In [ ]:
given_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
a = list(given_tuple)
for i in range(-1,-8,-1):
  print(a[i])

h
g
f
e
d
c
b

In [ ]:
given_tuple =  ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
a = list(given_tuple)
d = []
for i in range(-1,-len(a),-1):
  d.append(a[i])
s = tuple(d)
print(s)

('h', 'g', 'f', 'e', 'd', 'c', 'b')

**TASK 7**

In [ ]:
dict1={'Harry':15, 'Draco':8, 'Nevil':19}
dict2={'Ginie':18, 'Luna': 14}


marks = {}
for i, j in dict1.items():
  if i not in marks.keys():
    marks[i] = [j]
  else:
     marks[i].append(j)
for i, j in dict2.items():
  if i not in marks.keys():
    marks[i] = [j]
  else:
     marks[i].append(j)

print((marks))

NameError: ignored

In [ ]:
dict1={'Harry':15, 'Draco':8, 'Nevil':19}
dict2={'Ginie':18, 'Luna': 14}


marks = {}
for i, j in dict1.items():
  if i not in marks.keys():
	    marks[i] = [j]

for i, j in dict2.items():
  if i not in marks.keys():
	    marks[i] = [j]
print(marks)

{'Harry': [15], 'Draco': [8], 'Nevil': [19], 'Ginie': [18], 'Luna': [14]}

In [ ]:
dict1 = {'Harry':15, 'Draco':8, 'Nevil':19}
dict2 = {'Ginie':18, 'Luna': 14}

marks = {**dict1, **dict2}

print(marks)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:

d1 = {'A': 90, 'B': 0, 'C': 19}
d2 = {"1dd1": 18, 'Luna': 14}

marks = {}

for key, value in d1.items():
  marks[key] = value

for key, value in d2.items():
  marks[key] = value

print(marks)

{'A': 90, 'B': 0, 'C': 19, '1dd1': 18, 'Luna': 14}

**TASK 8**

In [ ]:

d = input()

#d = dict(item.split(":") for item in d.split(", "))
for item in d.split(", "):
  d = dict(item.split(":"))
print(d)
total = 0
count = 0

for value in d.values():
    total += int(value)
    count += 1

average = total // count

print(f"Average is {average}.")

Jon:100, Dan:200, Rob:300

ValueError: ignored

In [ ]:

d = input()
a ={}
d = dict(item.split(":") for item in d.split(", "))
for key,value
total = 0
count = 0

for value in d.values():
    total += int(value)
    count += 1

average = total // count

print(f"Average is {average}.")

In [ ]:
d = input()

#d = dict(item.split(":") for item in d.split(", "))
for item.split(":") in d:
  items=d.split(", ")

total = 0
count = 0

for value in d.values():
    total += int(value)
    count += 1

average = total // count

print(f"Average is {average}.")

SyntaxError: ignored

In [ ]:
# Take dictionary input from user
d = input("Enter a dictionary (key:value, key:value, ...): ")

# Initialize an empty dictionary
result = {}

# Split the input string on ", " to get the individual key-value pairs
items = d.split(", ")

# Iterate through the key-value pairs
for item in items:
    # Split the key-value pair on ":" to separate the key and value
    key, value = item.split(":")
    # Add the key-value pair to the dictionary
    result[key] = value

# Print the resulting dictionary
print(result)

Enter a dictionary (key:value, key:value, ...): Jon:100, Dan:200, Rob:300
{'Jon': '100', 'Dan': '200', 'Rob': '300'}

In [ ]:
d = input().split(", ")

#d = dict(item.split(":") for item in d.split(", "))
for item in d:
  d=item.split(":")
total = 0
count = 0

for value in d.values():
    total += int(value)
    count += 1

average = total // count

print(f"Average is {average}.")

Jon:100, Dan:200, Rob:300

AttributeError: ignored

In [ ]:
input = input()
input.strip("{}")
list1 = input.split(",")
my_dict = {}
for i in list:
  k,v = i
  my_dict

**TASK 9**

In [ ]:
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
new_d={}
number = int(input())
for i in exam_marks.keys():
  if exam_marks[i] >= number:
    new_d[i]=exam_marks[i]
print(new_d)

190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
new_d={}
number = int(input())
for i,j in exam_marks.items():
  if j >= number:
    new_d[i] = exam_marks[i]
print(new_d)

190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

**TASK 5**

In [ ]:
given_tuple = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

count = 0
number = int(input())
for i in given_tuple:
  if i == number:
    count+=1
print(count)

5
2

**TASK 10**

In [ ]:
given_dict = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
for i,j in given_dict.items():

In [ ]:
a={'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}
c = 0
for i in a:
  b = a[i]
  if(b>c):
    c = b
    d = i
  else:
    c = c
print(f"The highest selling book genre is '{d}' and the number of books sold are {c}.")

**TASK 11**

In [ ]:
input1 = "Python programming is fun"
my_dict = {}
for i in input1:
  if i!=" ":
    if i not in my_dict.keys():
      my_dict[i] = 1
    else:
      my_dict[i]+=1
print(my_dict)

{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'p': 1, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
string = input()
new_d = {}
for char in string:
    if 'A' <= char <= 'Z' or 'a' <= char <= 'z':
        char = char if 'a' <= char <= 'z' else chr(ord(char) + 32)
        if char in new_d:
            new_d[char] += 1
        else:
            new_d[char] = 1
print(new_d)

Enter a string: "Python programming is fun"
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

**TASK 12**

In [ ]:
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}

In [ ]:
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
total = 0
for key in dict_1:
    value = dict_1[key]
    count = 0
    for item in value:
        count += 1
    total += count
print(total)

10

**TASK 13**

In [ ]:
list_1 = [("a",1),("b",2),("a",3),("b",1),("a",2),("c",1)]

dict_1 = {}

for i, j in list_1:
  if i!=" ":
    if i not in dict_1:
      dict_1[i] = [j]
    else:
      dict_1[i].append(j)
print(dict_1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
given_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
a = list(given_tuple)
for i in range(-1,1,-1):
  print(i)

In [ ]:
list1= [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict1 = {}
for i in list1:
  dict1[i[0]] = []
for r in list1:
  dict1[r[0]].append(r[1])
print(dict1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}