**TASK 1**

In [ ]:
value = input()
for element in  range(len(value)-1,-1,-1):#index count
  print(value[element], end ='')

python
nohty

In [ ]:
s = 'I love Spider-man movie'
print(len(s))
print(s[2:4:1])
print(s[11:16:2])
print(s[5:])
print(s[:])



print(s[len(s):-24:-1])
print(s[-5:-1:1])
print(s[3::2])

23
lo
e-a
e Spider-man movie
I love Spider-man movie
eivom nam-redipS evol I
movi
oeSie-a oi

**TASK 2**

In [ ]:
string =input()
index = int(input())
y =""
for e in range(index,-1,-1):
  y+=string[e]
for e in range (index+1,len(string)):
  y+=string[e]
print(y)

72418
4
81427

In [ ]:
x= "hello world"
i = 0
while (len(x)):
  print(x[i])
  i+=1

h
e
l
l
o

w
o
r
l
d

IndexError: ignored

In [ ]:
x= "hello world"
i = 0
for i in range(0,len(x)):
  print(x[i])

h
e
l
l
o

w
o
r
l
d

In [ ]:
x= "hello world"
i = 0
for i in range(len(x)-1,-1,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
x= "hello world"
i = 0
for i in x[::-1]:
  print(i)

d
l
r
o
w

o
l
l
e
h

**TASK 3**

In [ ]:
number = input()
count =0
for i in number:
  if i=="0" or i=="1":
    count+=1
if count==len(number):
  print("Binary Number")
else:
  print("Not a Binary Number")

21478234hherfhdshfdf
Not a Binary Number

In [ ]:
value = input()
s =""
for c in value:
  s +=c
  print(s,end="")
  print()

DREAM
D
DR
DRE
DREA
DREAM

**TASK 6**

In [ ]:
value = input()
for i in value:
  print(f'{i} : {ord(i)}')

hunger
h : 104
u : 117
n : 110
g : 103
e : 101
r : 114

**TASK 7**

In [ ]:
s=input()
new_s=""
for i in s:
  if i =="z":
    new_s+="a"
  else:
    new_ASCII = ord(i)+1
    new_c=chr(new_ASCII)
    new_s+=new_c
print(new_s)

abcdefghi
bcdefghij

In [ ]:
s="abc"
new =""
for i in s:
  print(ord(i))

97
98
99

**TASK 8**

In [ ]:
s =input()
i=0
new_s=""
for i in range(0,len(s)-1,2):
  print(s[i])
  new_s+=i

In [ ]:
#string = input()
s = 'Eid Mubarak'
for character in s:
  print('Current element holo:', character)


print()


s1 = 'Eid Mubarak'
index = 0
while index<len(s):
  print('Current element holo:', s1[index])
  index+=1

Current element holo: E
Current element holo: i
Current element holo: d
Current element holo:
Current element holo: M
Current element holo: u
Current element holo: b
Current element holo: a
Current element holo: r
Current element holo: a
Current element holo: k

Current element holo: E
Current element holo: i
Current element holo: d
Current element holo:
Current element holo: M
Current element holo: u
Current element holo: b
Current element holo: a
Current element holo: r
Current element holo: a
Current element holo: k

In [ ]:
value = 'CSE110'
for i in range(0,len(value),1):
  print(value[i], 'in Index:' , i)

print()

value1 = 'CSE110'
i1 = 0
while i1<len(value1):
  #print(f'{value1[i1]} in Index: {i1}')
  print(value1[i1],"in Index:",[i1])
  i1+=1

C in Index: 0
S in Index: 1
E in Index: 2
1 in Index: 3
1 in Index: 4
0 in Index: 5

C in Index: [0]
S in Index: [1]
E in Index: [2]
1 in Index: [3]
1 in Index: [4]
0 in Index: [5]

In [ ]:
my_list = [2,3,4,'Hello', 'True', True]
for i in range(len(my_list)):
  print(my_list[i], 'element ta ache',i, 'number index a')

2 element ta ache number index a
3 element ta ache number index a
4 element ta ache number index a
Hello element ta ache number index a
True element ta ache number index a
True element ta ache number index a

In [ ]:
value = input()
#for i in range(0,len(value),1):
  #print(value[i],"element ta ache",[i],"index er moddhe")
for i in range(len(value)-1,-1,-1):
  print(value[i],end="")

1576527
7256751

In [ ]:
first_input = input() #length greater than 1

second_input = int(input())
                              #index of the first given string where you have to start reversing

new_string =""
for i in range(second_input,-1,-1):
  new_string+=first_input[i]

for i in range (second_input+1,len(first_input),1):
  new_string+=first_input[i]
print(new_string,end="")

aBcd1234defg
5
21dcBa34defg

In [ ]:
first_input = input() #length greater than 1
second_input = int(input())
 #index of the first given string where you have to start reversing
new_string =""
for i in first_input:

In [ ]:
string = input()
count = 0
for i in string:
  if i=="0" or i=="1":
    count+=1
if count==len(string):
  print("Binary Number")
else:
  print("Not a Binary Number")

123erer
Not a Binary Number

In [ ]:
word = input()

if len(word)<4 and word[len(word)-2:len(word)] == "er":
  new_w= word[0:len(word)-2:]+"est"
  print(new_w)
elif len(word)<4 and word[len(word)-2:len(word)] != "er":
  print(word)
elif word[len(word)-2:len(word):1] == 'er':
  new_word= word[0:len(word)-2:1]+"est"
  print(new_word)

elif 3<len(word)>4 and word[len(word)-3:len(word):1]=="est":
    print(word)

elif 3<len(word)>4 and word[len(word)-2:len(word):1] != 'er':
  print(word + "er")

stronger
strongest

In [ ]:
string = "Hello World"
for i in string:#range(len(string)):
    print(i)#index
    #without range its not index

H
e
l
l
o

W
o
r
l
d

In [ ]:
string = "Hello World"
new_string = ""
for char in string:
    if char == "o":
        new_string += "x"
    else:
        new_string += char
print(new_string)

Hellx Wxrld

In [ ]:
string = input()
s=""
for i in string:
  s+=i
  print(s,end="")
  print()

dream
d
dr
dre
drea
dream

In [ ]:
value = int(input())
count = 0
for i in range(1, value+1):
  for j in range(1, i+1):
    print(j, end='')
  print()

5
1
12
123
1234
12345

In [ ]:
N = int(input())
i = 1
while i <= N:
    j = 1
    while j <= i:
        print(j, end="")
        j += 1
    print()
    i += 1

5
1
12
123
1234
12345

In [ ]:
N = int(input())
for i in range(1, N + 1):
    for j in range(1, i + 1):
        print(j, end="")
    print()

5
1
12
123
1234
12345

In [ ]:
row = int(input())
column = int(input())
i = 0
while i < row:
    j = 1
    while j <= column:
        print(j, end="")
        j += 1
    print()
    i += 1

5
4
1234
1234
1234
1234
1234

**ASCII**

In [ ]:
A=65
Z=90
a=97
z=122
0=48
9=57

for upper to lowercase
97-65 = 32
so  new += chr(ord(i)+32)
for lower to uppercase
 new += chr(ord(i)-32)

In [ ]:
print(chr(65))
print(ord("A"))

A
65

In [ ]:
string = input()
for i in string:
  print(i,":",ord(i))

Programming
P : 80
r : 114
o : 111
g : 103
r : 114
a : 97
m : 109
m : 109
i : 105
n : 110
g : 103

In [ ]:
string = input()
new=""
for i in range(0,len(string),1):
  #print([i])
  print(ord(string[i]))

abcdefg
97
98
99
100
101
102
103

In [ ]:
string = input()
new=""
for i in string:
  if i=="z":
    new+="a"
  else:
    new+=chr(ord(i)+1)
print(new)

xyzabc
yzabcd

In [ ]:
string = input()
new_c =""
for i in range(1,len(string),2):
  print((chr(ord(string[i])-32)),end="")

abcd
BD

In [ ]:
string = input()
new_string = ""
for i in range(len(string)):
    if string[i] != string[i-1]:
        new_string += string[i]
print(new_string)

AAaaaAaaAAAa
AaAaAa

In [ ]:
string = input()
new_string = ""
for i in range(len(string)):
  print(string[i-1])

AAABBCDE
E
A
A
A
B
B
C
D

In [ ]:
string = input()
new_s=""
for i in string:
  if i!=",":
    new_s+=i
print(new_s)

nbnbbnnbb
nbnbbnnbb

In [ ]:
string=input()
result =""
x=""
y=""
for i in range(len(string)):
  if string[i] == ",":
    x = string[0:i]
    y = string[i+2:len(string):1]
    break
if len(x)==len(y):
  for i in range(len(x)):
    result = result+x[i]+y[i]
else:
  if len(x)>len(y):
    for i in range(len(y)):
      result+=x[i]+y[i]
    result+=x[len(y):len(x):1]
  elif len(x)<len(y):
    for i in range(len(x)):
      result+=x[i]+y[i]
    result+=y[len(x):len(y):1]
print(result)

ijkl, ABCDENDFGH
iAjBkClDENDFGH

In [ ]:
input_str = input("Enter two strings separated by a comma and a space: ")
result = ""
x, y = "", ""
for i in range(len(input_str)):
    if input_str[i] == ",":
        x = input_str[0:i]
        y = input_str[i + 2:len(input_str):1]
        break
if len(x) == len(y):
    for i in range(len(x)):
        result = result + x[i] + y[i]
else:
    if len(x) > len(y):
      for i in range(len(y)):
        result += x[i] + y[i]
      result += x[len(y):len(x):1]
    elif len(x) < len(y):
      for i in range(len(x)):
        result += x[i] + y[i]
      result += y[len(x):len(y):1]
print(result)

Enter two strings separated by a comma and a space: ijkl, ABCDENDFGH
i jAkBlCDENDFGH

In [ ]:
val = 'ABCDEF, ghij'
ind = 0
new = ''
for i in range(len(val)):
  if val[i] == ',':
    ind = i
var1 = val[0:ind]
var2 = val[ind+2:]
print(var1)
print(var2)

if len(var1) == len(var2):
  for i in range(len(var1)):
    new+=var1[i]+var2[i]
elif len(var1)> len(var2):
  for i in range(len(var2)):
     new+=var1[i]+var2[i]
  new+=var1[i+1:]
print(new)

In [ ]:
line = input()
n1 = 0
i1 = 0
while line[n1] != ',':
    n1 += 1
i2 = n1 + 2
n2 = len(line)

res = ''
while i1 < n1 and i2 < n2:
    res += line[i1] + line[i2]
    i1 += 1
    i2 += 1

if i1 < n1:
    res += line[i1:n1]
else:
    res += line[i2:n2]

print(res)

ijkl, ABCDENDFGH
iAjBkClDENDFGH

In [ ]:
for x in range(5):
  for y in range(3):
    print(x,y)

In [ ]:
input_str = input("Enter two strings separated by a comma and a space: ")
comma_index = input_str.find(", ")
str1 = input_str[:comma_index]
str2 = input_str[comma_index + 2:]
result = ""
min_len = min(len(str1), len(str2))
for i in range(min_len):
    result += str1[i] + str2[i]
for i in range(min_len, len(str1)):
    result += str1[i]
for i in range(min_len, len(str2)):
    result += str2[i]
print(result)

Enter two strings separated by a comma and a space: ijkl, ABCDENDFGH
iAjBkClDENDFGH

In [ ]:
i = 10
while(i >= -20):
    if(i < 0):
        test = " != "
        test = str(i//2) + test + str(int(i/2))
    else:
        test = " == "
        test = str(i//2) + test + str(int(i/2))
    print(test)
    i -= 5

5 == 5
2 == 2
0 == 0
-3 != -2
-5 != -5
-8 != -7
-10 != -10