**TASK 1**

In [ ]:
def even_checker(number):
  if number % 2==0:
    print("Even!!")
  else:
    print("Odd!!")
even_checker(2)

Even!!

**TASK 2**

In [ ]:
def fibonacci(limit):
  a,b =0, 1
  for i in range(0,limit+1):
    if a>limit:
      break
    print(a, end=' ')
    a ,b =b,a + b
fibonacci(5)

0 1 1 2 3 5

**TASK 3**

In [ ]:
def foo_moo(number):
  if number%2 == 0:
    return "Foo"
  elif number%3 == 0:
    return 'Moo'
  elif number%2==0 and number%3==0:
    return 'FooMoo'
  else:
    return "Boo"
#foo_moo(5)
foo_moo(4)
#foo_moo(6)

'Foo'

In [ ]:
def foo_moo(number):
    if number % 2 == 0 and number % 3 == 0:
        return 'FooMoo'
    elif number % 2 == 0:
        return 'Foo'
    elif number % 3 == 0:
        return 'Moo'
    else:
        return 'Boo'
print(foo_moo(5))
print(foo_moo(4))
print(foo_moo(6))

Boo
Foo
FooMoo

In [ ]:
def calculate(string):
  uppercase = 0
  lowercase = 0
  for i in string:
    if 65<=ord(i)<=90:
      uppercase+=1
    elif 97<=ord(i)<=122:
      lowercase+=1
  print("No. of Uppercase Characters : ",uppercase)
  print("No. of Lowercase Characters : ",lowercase)
calculate('The quick Sand Man')

No. of Uppercase Characters :  3
No. of Lowercase Characters :  12

In [ ]:
print(chr(78))
print(ord("A"))
print(chr(ord("a")-32))
print(chr(ord("A")+32))

N
65
A
a

In [ ]:
def calculate_tax(age,salary,job):
  if age<18:
    return 0
  elif job=="president":
    return 0
  elif salary<10000:
    return 0
  elif 10000<=salary<=20000:
    tax = salary*(5/100)
    return tax
  elif salary>20000:
    tax = salary*(10/100)
    return tax
print(calculate_tax(int(input()),int(input()),input()))

20
122000
president
0

**TASK 6**

In [ ]:
def num_of_days(number):
  year = number//365
  months1 = number%365
  months = months1//30
  days = months1%30
  print(year,"years,",months,"months","and",days,"days")
num_of_days(int(input()))

2250
6 years, 2 months and 0 days

In [ ]:
number = int(input())
hours = number//3600
seconds1 = number%3600
minutes = seconds1//60
seconds = seconds1%60
if number>0:
  print("Hours :",hours,"Minutes :",minutes,"Seconds :",seconds)

4330
Hours : 1 Minutes : 12 Seconds : 10

In [ ]:
print(4330//365)

print((4330%365)//30)

print(((4330%365)/30)%30)

11
10
10.5

In [ ]:
def show_palindrome(number):
  result = ""
  for i in range(1,number+1):
    result += str(i)
  for i in range(number-1,0,-1):
    result += str(i)
  return result
print(show_palindrome(3))

12321

In [ ]:
def show_palindromic_triangle(number):
  result = ""
  for i in range(1,number+1):
    for j in range(number-1,0,-1):
      result += str(i)
  print(result)
  print()
show_palindromic_triangle(5)

11112222333344445555

In [ ]:
N = int(input())
for i in range(N):
    print(' '*(N-i- 1) + '+'*(2*i+1))

5
    N
   NNN
  NNNNN
 NNNNNNN
NNNNNNNNN

In [ ]:
N = int(input())

for i in range(N):
    for j in range(N-i-1):
        print(' ', end='')
    for j in range(2*i+1):
        if j == 0 or j == 2*i or i == N-1:
            print('+', end='')
        else:
            print(' ', end='')
    print()

5
    +
   + +
  +   +
 +     +
+++++++++

**TASK 8**

In [ ]:
def show_palindromic_triangle(number):
    for i in range(1, number + 1):
        for j in range(number - i):
            print(' ', end=' ')
        for j in range(1, i + 1):
            print(j, end=' ')
        for j in range(i - 1, 0, -1):
            print(j, end=' ')
        print()
show_palindromic_triangle(5)

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
def show_palindrome(row):
  for i in range(1,row+1):
    print(((row-i)*2*" "),end ="")
    print(i)
show_palindrome(5)

        1
      2
    3
  4
5

In [ ]:
def show_palindrome(row):
  for i in range(1, row + 1):
    print(((row - i) * 2 * " "), end="")
    for j in range(1, i + 1):
        print(j, end=' ')
    for j in range(i - 1, 0, -1):
        print(j, end=' ')
    print()
show_palindrome(3)

    1
  1 2 1
1 2 3 2 1

**TASK 9**

In [ ]:
def area_circumference_generator(radius_of_circle):
  import math
  area_of_the_circle = math.pi * math.pow(radius_of_circle,2)
  circumference_of_circle = 2 * math.pi * radius_of_circle
  my_tuple = (area_of_the_circle, circumference_of_circle)
  print(my_tuple)

  print(f"Area of the circle is {area_of_the_circle} and circumference is {circumference_of_circle}")
area_circumference_generator(2.5)
  #return 0

#answer = area_circumference_generator(1.5)
#print(answer)

(19.634954084936208, 15.707963267948966)
Area of the circle is 19.634954084936208 and circumference is 15.707963267948966

**TASK10**

In [ ]:
def make_square(start,end):
  new_d={}
  for i in range(start,end+1):
    new_d[i]=(i)**2
  print(new_d)
make_square(int(input()),int(input()))

1
3
{1: 1, 2: 4, 3: 9}

**TASK 11**

In [ ]:
def rem_duplicate(my_tuple):
  new_list = []
  for i in my_tuple:
    if i not in new_list:
      new_list.append(i)
    return tuple(new_list)
print(rem_duplicate(input()))

(1,1,1,2,3,4,5,6,6,6,6,4,0,0,0)
('(',)

In [ ]:
def rem_duplicate(tup):
    result = []
    for item in tup:
        if item not in result:
            result.append(item)
    return tuple(result)
rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2]))

('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:

def rem_duplicate(tup):
    result = []
    for item in tup:
      if item not in result:
        result.append(item)
    return tuple(result)
rem_duplicate(input())

('Hi', 1, 2, 3, 'a', [1, 2])

('(', "'", 'H', 'i', ',', ' ', '1', '2', '3', 'a', '[', ']', ')')

In [ ]:
s = input()
m = []
temp = ''
for i in s:
  if i != ' ':
    temp+=i
  else:
     m.append(int(temp))
     temp = ''

if temp != '':
  m.append(int(temp))

print("Original list: ",m)
new_list=[]
for i in m:
  if i % 2 != 0:
    #m.remove(i)
    new_list+=[i]

print("Modified list: ",new_list)

**TASK 12**

In [ ]:
def function_name(my_list):
  new_list = []
  for i in my_list:
    if new_list.count(i)<2:
      new_list.append(i)

    removed = len(my_list) - len(new_list)
  print("Removed:",removed)
  print(new_list)
function_name([10, 10, 15, 15, 20])

Removed: 0
[10, 10, 15, 15, 20]

In [ ]:
list1= [10, 10,10,10, 15, 15, 20]
for i in list1:
  a = list1.count(i)
print(a)

1

In [ ]:
s = "10,20,30"
s.split(",")
print(a)

['10', '20', '30']

**TASK 13**

In [ ]:
def basic_calculation(operator,first_num,sec_num):
  if operator == "+":
    a = first_num + sec_num
    return a
  elif operator == "-":
    b = first_num - sec_num
    return b
  elif operator == "*":
    c = first_num * sec_num
    return c
  elif operator == "/":
    d = first_num/sec_num
    return d
print(basic_calculation(input(),float(input()),float(input(

*
5.5
2.5
13.75

**TASK 14**

In [ ]:
def function_name(sentence,position):
  temp = ""
  new_string =""
  for i in range((len(sentence))):
    if i == 0:
      new_string+=sentence[i]
  for i in range(1,(len(sentence))):
    if i == 0:
      new_string+=sentence[i]

    if i % position != 0:
      new_string+= sentence[i]


    else:
      temp+=sentence[i]

  new_string+= temp
  return new_string


print(function_name(input(),int(input())))

I love programming.
3
I lveprgrmmngo oai.

In [ ]:
temp =""
print(type(temp))

<class 'str'>

In [ ]:
a = "abcdefg"
for i in range(len(a)):
  if i%2==0:
    print(i,end="  ")
    print(a[i])
print(a[i])

0  a
2  c
4  e
6  g
g

In [ ]:
def function_name(sentence,position):
  temp = ""
  new_string = ""
  for i in range((len(sentence))):
    if i % position == 0:
      temp+=(a[i])
    else:
      new_string+=(a[i])
  return new_string


print(function_name(input(),int(input())))

i love programming
6

IndexError: ignored

**TASK 15**

In [ ]:
def function_name(order_items,location):

  #new_list = list(order_items)
  delivery_fee = 0
  price = 0
  total_price = 0
  dic = {"Rice":105,"Potato":20,"Chicken":250,"Beef":510,"Oil":85}
  for i in order_items:
    if i == dic.keys():
      price+=dic[j]
    if location == "Dhanmondi":
      delivery_fee += 30
    else:
      delivery_fee+=70
  total_price += price+delivery_fee
  print(total_price)
  print(dic)
l1=["Rice", "Beef", "Rice"]
function_name(["Rice", "Beef", "Rice"], "Mohakhali")

210
{'Rice': 105, 'Potato': 20, 'Chicken': 250, 'Beef': 510, 'Oil': 85}

In [ ]:
def function_name(order_items,location):
  dic = {"Rice":105,"Potato":20,"Chicken":250,"Beef":510,"Oil":85}
  total_price = 0
  for i in order_items:
    if i in dic:
      total_price+=delivery_fee
order_items = ["Rice", "Beef", "Rice"]
location = "Mohakhali"
total_amount = function_name(order_items, location)
print(total_amount)

NameError: ignored

In [ ]:
def function_name(order_items, location="Dhanmondi"):
    item_prices = {
        "Rice": 105,
        "Potato": 20,
        "Chicken": 250,
        "Beef": 510,
        "Oil": 85   }

    total_price = 0

    for item in order_items:
        if item in item_prices:
            total_price += item_prices[item]

    if location == "Dhanmondi":
      delivery_fee += 30
    else:
      delivery_fee+=70
    total_price += delivery_fee
    return total_price
order = ["Rice", "Beef", "Rice"]
location = "Mohakhali"
total_amount = function_name(order, location)
print(total_amount)

UnboundLocalError: ignored

**TASK 15**

In [ ]:
def function_name(order_items, location="Dhanmondi"):
    item_prices = {
        "Rice": 105,
        "Potato": 20,
        "Chicken": 250,
        "Beef": 510,
        "Oil": 85   }

    total_price = 0

    for item in order_items:
        if item in item_prices:
            total_price += item_prices[item]

    delivery_fee = 30
    if location == "Dhanmondi":
      delivery_fee = 30
    else:
      delivery_fee = 70
    total_price += delivery_fee
    return total_price
order = ["Rice", "Beef", "Rice"]
location = "Mohakhali"
print(function_name(order, location))

790

In [ ]:
def function_name(order_items, location):
    item_prices = {
        "Rice": 105,
        "Potato": 20,
        "Chicken": 250,
        "Beef": 510,
        "Oil": 85   }

    total_price = 0

    for i in order_items:
        if i in item_prices:
            total_price += item_prices[item]

if location == "Dhanmondi":
      delivery_fee += 30
    else:
      delivery_fee+=70
    total_price += delivery_fee
    return total_price
#order = ["Rice", "Beef", "Rice"]
#location = "Mohakhali"
#total_amount = function_name(order, location)
#print(total_amount)
function_name(input(),input())

In [ ]:
def is_valid_name(name):
    words = name.split()
    for word in words:
        if not word.istitle():
            return False
    return True
is_valid_name()