**TASK 1**

In [ ]:
numbers = []
for i in range(5):
  num = int(input("Enter a number: "))
  numbers.append(num)
  print("Numbers in the list:", end=" ")
  for j in range(i+1):
    print(numbers[j], end=" ")
  print()

Enter a number: 3
Numbers in the list: 3,
Enter a number: 4
Numbers in the list: 3,4,
Enter a number: 5
Numbers in the list: 3,4,5,
Enter a number: 6
Numbers in the list: 3,4,5,6,
Enter a number: 7
Numbers in the list: 3,4,5,6,7,

In [ ]:
numbers = []
for i in range(5):
  num =int(input())
  numbers.append(num)
  print("Numbers in the list: ",numbers)

1
Numbers in the list:  [1]
2
Numbers in the list:  [1, 2]
3
Numbers in the list:  [1, 2, 3]
4
Numbers in the list:  [1, 2, 3, 4]
55
Numbers in the list:  [1, 2, 3, 4, 55]

**TASK 2**

In [ ]:
list1 = input().split(" ,")
if len(list1) < 4:
  print("Not possible")
else:
  new_list = list1[2:-2]
  print(new_list)

10, 20, 24, 25, 26, 35, 70
[' 24', ' 25', ' 26']

**TASK 3**

In [ ]:
numbers = []
for i in range(5):
    num = int(input())
    numbers.append(num)
print("Printing values from the list in reverse order:")
for i in range(4, -1, -1):
    print(numbers[i],end="")
    print()

1
2
3
4
5
Printing values from the list in reverse order:
5
4
3
2
1

**TASK 4**

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7]
squared_list = [num ** 2 for num in list1]
print(squared_list)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
list1 = [3, 5, 1, 6]
for i in range(len(list1)):
  list1[i]=list1[i]**2
#list1 = [num ** 2 for num in list1]
print(list1)

[9, 25, 1, 36]

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7,8,9,10]
for i in range(len(list1)):
    list1[i] = list1[i] ** 2
print(list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**TASK 5**

In [ ]:
list1 = ["hey","there", "", "what's", """""","", "up", "", "?"]
new_list = [string for string in list1 if string != ""]
print("Original List:", list1)
print("Modified List:", new_list)

Original List: ['hey', 'there', '', "what's", '', '', 'up', '', '?']
Modified List: ['hey', 'there', "what's", 'up', '?']

In [ ]:
list1 = ["hey","there", "", "what's", """""","", "up", "", "?"]
new_list = []
for string in list1:
    if string != "":
        new_list.append(string)
print("Original List:", list1)
print("Modified List:", new_list)

Original List: ['hey', 'there', '', "what's", '', '', 'up', '', '?']
Modified List: ['hey', 'there', "what's", 'up', '?']

In [ ]:
input_string = input("Enter a string: ")
list1 = []
temp = ""
for char in input_string:
    if char == " ":
        list1.append(temp)
        temp = ""
    else:
        temp += char
if temp:
    list1.append(temp)

print(list1)

Enter a string: 7 12 4 55 Hello 2 11 61 33 42
['7', '12', '4', '55', 'Hello', '2', '11', '61', '33', '42']

**TASK 6**

In [ ]:
m = input()

num_list = m.split(",")

num_list = [int(i) for i in num_list]

largest_num = num_list[0]
largest_num_index = 0

for i in range(1, len(num_list)):
    if num_list[i] > largest_num:
        largest_num = num_list[i]
        largest_num_index = i
print("My list:",num_list)
print("Largest number in the list is", largest_num, "which was found at index", largest_num_index)

7,13,2,10,6,-11,0
My list: [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 1

In [ ]:
m=input()
n=[]
temp=""
for i in m:
  if i != ",": #ekhane first e comma na hoile int ta jog hoitese
    temp+=i
  else:        #then ekhane jokhn comma ashe tokhn n e temp ta add kortesi
    n.append(int(temp)) #trpr abar temp ke faka kore ditesi
    temp=""
if temp != "": #eta last elem ta ashar jonno
  n.append(int(temp))


largest_num = n[0]
largest_num_index = 0

for i in range(1, len(n)):
    if n[i] > largest_num:
        largest_num = n[i]
        largest_num_index = i

print("My list:",n)
print("Largest number in the list is", largest_num, "which was found at index", largest_num_index)

7,8,9,10,11
My list: [7, 8, 9, 10, 11]
Largest number in the list is 11 which was found at index 4

**TASK 7**

In [ ]:
List_one = [1, 3, 5, 7, 9, 10]
List_two = [2, 4, 6, 8]
List_one[-1:] = List_two
print(List_one)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

**TASK 8**

In [ ]:
list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two = [10, 11, 12, -13, -14, -15, -16]

new_list = [i for i in (list_one + list_two) if i % 2 == 0]

print(new_list)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two = [10, 11, 12, -13, -14, -15, -16]

new_list = []
for i in (list_one + list_two):
    if i % 2 == 0:
        new_list.append(i)

print(new_list)

[2, 4, 6, 8, 10, 12, -14, -16]

**TASK 9**

In [ ]:
s = input()
m = []
temp = ''
for i in s:
  if i != ' ':
    temp+=i
  else:
     m.append(int(temp))
     temp = ''

if temp != '':
  m.append(int(temp))

print("Original list: ",m)
new_list=[]
for i in m:
  if i % 2 != 0:
    #m.remove(i)
    new_list+=[i]

print("Modified list: ",new_list)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4

ValueError: ignored

In [ ]:
s = input()
m = []
temp = ''
for i in s:
  if i != ',':
    temp+=i
  else:
     m.append(int(temp))
     temp = ''

if temp != '':
  m.append(int(temp))
print("Input list: ",m)
new_list =[]
for i in m:
  if i not in new_list:
    new_list.append(i)
print("Modified list: ",new_list)

KeyboardInterrupt: ignored

In [ ]:
input_string = input()

numbers_list = [int(i) for i in numbers_list]
modified_list =[]
print(numbers_list)
for i in numbers_list:
  if i not in modified_list:
    modified_list+=numbers_list
  el
print(numbers_list)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]

In [ ]:
num=input()
lst1=num.split(",")
lst2=[]
lst3=[]
for i in range(len(lst1)):
  x=int(lst1[i])
  lst2.append(x)
  for j in lst2:
    if j not in lst3:
      lst3.append(j)
print("Input List:",lst2)
print("Modified List:",lst3)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Input List: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
Modified List: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**TASK 11**

In [ ]:
List_one = [1, 4, 3, 2, 6]
List_two = [5, 6]

flag = 0

for i in List_one:
  for j in List_two:
      if i == j:
        flag += 1
        break
  if flag == 1:
      break
if flag == 1:
    print("True")
else:
    print("False")

True

In [ ]:
List_one = [1, 4, 3, 2, 5]
List_two = [8,7,6,9]

flag = 0
for i in List_one:
    for j in List_two:
        if i == j:
            flag = 1
            break
    if flag == 1:
        break

if flag == 1:
    print("True")
else:
    print("False")

False

In [ ]:
list1=[1,2,3,4]
print(1 in list1)

True

In [ ]:
inp

In [ ]:
numbers = input()
new_numbers = []
string=""
for i in numbers:
  if len(numbers)<4:
    print("Not posssible")
  if i != ", ":
    string+=i
  else:
    new_numbers.append(int(string))
    string = ''

if temp != '':
  new_numbers.append(int(string))
print(new_numbers[2:-2])

10, 20, 24, 25, 26, 35, 70

NameError: ignored

In [ ]:
input_string = input()
list1 = []
temp = ""
for char in input_string:
    if char == ",":
        list1.append(int(temp.strip()))
        temp = ""
    else:
        temp += char
if temp:
    list1.append(int(temp.strip()))

if len(list1) < 4:
    print("Not possible")
else:
    new_list = []
    for i in range(2, len(list1)-2):
        new_list.append(list1[i])
    print(new_list)

10, 20, 24
Not possible

In [ ]:
input_string = (10, 20, 24, 25, 26, 35, 70)
list1 = []
list1=list(input_string)
temp = ""
for char in input_string:
    if char == ",":
        list1.append(int(temp))
        temp = ""
    elif char != " ":
        temp += char
if temp:
    list1.append(int(temp))
else:
    new_list = []
    for i in range(2, len(list1)-2):
        new_list.append(list1[i])
    print(new_list)

10, 20, 24,
Not possible

In [ ]:
numbers=[]
print(type(numbers))

<class 'list'>